{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% load kpi %}

{% block page_header %}{% trans 'Flocks Overview' %}{% endblock %}

{% block main_content %}


    <div class="row mb-4">
        <div class="col-sm-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    {% trans 'Flocks Present' %}
                </div>
                {% if current_flocks %}
                    <table class="table table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th>Flock Name</th>
                            <th>Entry Date</th>
                            <th>Entry Weight</th>
                            <th>{% trans 'Number of Animals' %}</th>
                            <th>Expected Exit Date</th>
                        </tr>

                        </thead>
                        {% for flock in current_flocks %}
                            <tr>
                                <td>{{ flock.flock_name }}</td>
                                <td>{{ flock.entry_date }}</td>
                                <td>{{ flock.entry_weight }}</td>
                                <td>{{ flock.number_of_animals }}</td>
                                <td>{{ flock.expected_exit_date }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="card-body">
                        {% trans 'No animals present at farm.' %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="row mb-4">
        <div class="col-sm-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    {% trans 'Old Flocks' %}
                </div>
                {% if old_flocks %}
                    <table class="table table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th>Flock Name</th>
                            <th>Entry Date</th>
                            <th>Entry Weight</th>
                            <th>{% trans 'Number of Animals' %}</th>
                            <th>Expected Exit Date</th>
                        </tr>

                        </thead>
                        {% for flock in old_flocks %}
                            <tr>
                                <td>{{ flock.flock_name }}</td>
                                <td>{{ flock.entry_date }}</td>
                                <td>{{ flock.entry_weight }}</td>
                                <td>{{ flock.number_of_animals }}</td>
                                <td>{{ flock.expected_exit_date }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="card-body">
                        {% trans 'No old flocks to report.' %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}